<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Quiz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'nav_menu.html' %}
    <div class="container mt-5">
        <h2>Quiz: {{ quiz.quiz_name }}</h2>
        <hr/>
        <p>Question <span id="currentQuestionSpan"></span> of {{ quiz.num_of_questions }}</p>

        <div class="question">
            <p>{{ quiz.flashcards[0].english }}</p>
        </div>

        <div class="answer-options">
            <div class="form-check">
                <input type="radio" class="form-check-input" id="option1" name="answer" value="option1">
                <label class="form-check-label" for="option1"></label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="option2" name="answer" value="option2">
                <label class="form-check-label" for="option2"></label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="option3" name="answer" value="option3">
                <label class="form-check-label" for="option3"></label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="option4" name="answer" value="option4">
                <label class="form-check-label" for="option4"></label>
            </div>
        </div>

        <button class="btn btn-primary" id="submitButton" onclick="nextQuestion()">Next</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        var quizData = JSON.parse('{{ quiz | tojson | safe }}');
        var current_question = 0;
        var currentQuestionSpan = document.getElementById('currentQuestionSpan');
        var nextButton = document.getElementById('submitButton');
        currentQuestionSpan.textContent = current_question + 1;
        var number_correct = 0;

        const loadQuestion = () => {
            // Fetch random answers for the current question using AJAX
            fetch(`/get_random_answers?card_id=${quizData.flashcards[current_question].card_id.$oid}`)
                .then(response => response.json())
                .then(data => {
                    // Update the question text
                    document.querySelector('.question p').textContent = quizData.flashcards[current_question].english;

                    // Update answer options and labels
                    // getting the index for the correct option
                    let correct_option_index = 0;
                    for (let i = 0; i < 4; i++) {
                        const optionInput = document.getElementById(`option${i + 1}`);
                        const optionLabel = document.querySelector(`#option${i + 1} + label`);
                        const answerOption = data.options[i];
                        if(data.options[i] === data.correct_answer){
                            correct_option_index = i + 1;
                        }

                        optionInput.value = answerOption;
                        optionLabel.textContent = answerOption;
                    }

                    // Update the correct answer for comparison
                    const correctAnswer = data.correct_answer;
                    const correctOptionInput = document.getElementById(`option${correct_option_index}`);
                    correctOptionInput.dataset.correctAnswer = correctAnswer;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        const nextQuestion = () => {
            const selectedAnswer = document.querySelector('input[name="answer"]:checked');
            const correctAnswer = selectedAnswer ? selectedAnswer.dataset.correctAnswer : null;

            if (selectedAnswer) {
                // Deselecting all radio buttons in the "answer" group
                const radioButtons = document.querySelectorAll('input[name="answer"]');
                radioButtons.forEach(button => button.checked = false);
                if (selectedAnswer.value === correctAnswer) {
                    number_correct++;
                }

                // Increment the question index and load the next question
                current_question++;
                if (current_question < quizData.num_of_questions) {
                    // Checking if we're on the last question
                    console.log(current_question);
                    if(current_question === 4){
                        console.log("here");
                        nextButton.textContent = 'Submit';
                    }

                    currentQuestionSpan.textContent = current_question + 1;
                    loadQuestion();
                } else {
                    // Redirecting the user to the result page or perform other actions
                    window.location.href = `/quiz/score?score=${number_correct}&total_questions=${quizData.num_of_questions}&quiz_name=${quizData.quiz_name}`;
                }
            } else {
                alert('Please select an answer before proceeding.');
            }
        }

        loadQuestion(); // This is to load the first question
    </script>
</body>
</html>